<% provide :title, @deck.subject %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'decks/deck_info' %>
    </section>
    <sectopn>
      <%= render 'decks/deck_hand' %>
    </section>
    <section>
      <%= render 'decks/event_form' %>
    </section>
  </aside>
  <div class="span8">
    </div>
    <% if @deck.events.any? %>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>
